@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", serif;
}

/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    padding: 15px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: orange;
    cursor: pointer;
}
.btn-secondary{
    padding: 0.9rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    background-color: rgb(143, 3, 168);
    border-radius: 3rem;
    border: none;
    cursor: pointer;
}
.text-color-primary{
    color: rgba(17, 17, 17, 1);
    font-size: 1.25rem;
    font-weight: 500;
}
.text-primary{
   font-size: 0.9rem; 
   color: #666666;
   line-height: 1.5rem;
   font-weight: 600;
}
/* color shared */

.color-01{
    color: orange;
}
.color-02{
    color: skyblue;
}
.color-03{
    color: rgba(5, 212, 223, 1);
}
.color-04{
    color: rgba(93, 88, 239, 1);
}



/* header styles */
.navbar{
    align-items: center;
    justify-content: space-between;
    margin: 20px 130px;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 30px;
}
ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.logo-div{
    align-items: center;
}
.logo-title{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10px;
}
.menubar-links{
    font-size: 2rem;
    display: none;
}
/* banner styles */
.banner-section{
    align-items: center;
    justify-self: center;
    gap: 300px;
}
.banner-content{
    width: 640px;
}
.banner-title{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.banner-description{
    margin-bottom: 1.5rem;
}
.banner-btn{
    background-color: black;
}

/* curriculam styles */
.curriculam{
    width: 1440px;
    margin: 0 auto;
    margin-top: 3.75rem;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.curriculam-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75rem;
}
.curriculam-card{
    width: 400px;
    text-align: center;
    border-radius: 1.25rem;
    padding: 2.2rem;
}
.curriculam-title{
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5rem;
}
.one{
    background-image: linear-gradient(to top, white, #DEF5FF);
    border: 1px solid rgba(222, 245, 255, 1);
}
.two{
    background-image: linear-gradient(to top, white, #FFF4DC);
    border: 1px solid rgba(255, 244, 220, 1);
}
.three{
    background-image: linear-gradient(to top, white, #F2E8FF);
    border: 1px solid rgba(242, 232, 255, 1);
}
.curriculam-cart-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0 2rem 0;
}
.read-more{
    font-size: 1rem;
    font-weight: 700;
}
.cart-01{
    margin-top: 2.25rem;
    margin-bottom: 2.8rem;
}
    
.cart-02{
    margin-top: 2.25rem;
    margin-bottom: 2.8rem;
}
.cart-03{
    margin-top: 2.5rem;
    margin-bottom: 2.8rem;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 7.5rem;
}
.arrows{
    color: white;
    background-color: orange;
    margin-right: 10px;
    padding: 20px;
    border-radius: 50%;
}
.arrow-icon{
    font-size: 3.2rem;
    font-weight: bold;
}
/* stories styles */
.our-stories{
    margin-top: 7.5rem;
    background-image: url(../assets/bg.png), linear-gradient(to bottom, white, #e8d09d);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 63.18rem;
}
.stories-title{
    margin-bottom: 5rem;
    text-align: center;
    font-size: 2.87rem;
    font-weight: 700;
}
.stories-item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    width: 1160px;
    margin: 0 auto;
}
.four-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}
.siviligs{
    background-color: white;
    border-radius: 1rem;
}
.siviligs img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.btn-1{
    position: relative;
    top: -30px;
    left: 2.37rem;
}
.btn-2{
    background-color: rgb(113, 144, 69);
    position: relative;
    top: -30px;
    left: 2.37rem;
}
.btn-3{
    background-color: rgb(101, 3, 19);
    position: relative;
    top: -30px;
    left: 2.37rem;
}
.btn-4{
    background-color: rgb(82, 3, 228);
    position: relative;
    top: -30px;
    left: 2.37rem;
}
.btn-5{
    background-color: rgb(82, 3, 228);
    position: relative;
    top: -30px;
    left: 2.37rem;
}
.training-classroom{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2.8rem 2.8rem 0 2.8rem;
}
.stories-description{
    padding: 2.8rem;
    margin-bottom: 2rem;
    line-height: 1.4rem;
}
.our-stories-steps{
    background-color: white;
    border-radius: 1rem;
}
.our-stories-steps img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.planning-card-title{
    font-size: 1rem;
    font-weight: 700;
    padding: 2rem;
    margin-top: -1rem;
    text-align: center;
}
.view-btn{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3.8rem;
}














@media screen and (max-width: 576px){
    .nav-links,
    .logo-title,
    .btn-primary{
    display: none;
    }
    .menubar-links{
        display: block;
    }
    .navbar{
        margin: 10px 10px;
    }
    header{
        border: 1px solid orange;
    }
    
    .banner-section,
    .banner-btn{
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }
    .banner-btn{
        display: block;
        margin: 0 auto;
    }
    
   .banner-img img{
        width: 80%;
    }
    .banner-content{
        width: 100%;
        margin: 1rem;
    }
    .banner-description{
        padding: 1.2rem;
    }
    .curriculam{
        width: 100%;

    }
    .curriculam-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 85%;
        margin: 0 auto;
    }
    .curriculam-card{
        width: 95%;
        gap: 10px;
        margin-left: 10px;
        /* padding: 1rem; */
    }
    .curriculam{
        width: 100%;
        background-image: none;
    }
    .arrow{
        display: none;
    }
    .siviligs{
        display: none;
    }
    .stories-item{
       width: 100%;
    }
    .our-stories-steps{
        width: 190px;
        /* align-items: center;
        justify-content: center; */ 
        height: 200px;
        margin-bottom: 15px;
    }
    .four-section{
        /* margin: 20px 10px 0 16px; */
        /* margin-left: 20px; */
        width: 100%;
        /* align-items: center;
        justify-content: center; */
        gap: 5px;
        margin-left: 10px;
        
    }
    .four-section img{
        width: 100%;
    }
    .btn-2,
    .btn-3,
    .btn-4,
    .btn-5{
        left: 1rem;
        padding: 7px 7px;
        top: -20px;
        font-size: 9px;
    }
    .btn-2{
        padding-left: 10px;
        padding-right: 10px;
    }
    .our-stories{
        margin-top: 800px;
        width: 100%;
    }
    .stories-title{
        text-align: center;
        
    }
    .planning-card-title{
        font-size: 9.13px;
        padding: 14px 54px 19px 22px;
    }
      
}